@model IEnumerable<Task2.Models.Comment>

@{
	ViewData["Title"] = "QueryView";
	var id = ViewBag.Id;
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<<div>
	<h2>Query2</h2>
	<hr />
	<dl class="dl-horizontal"></dl>
</div>

<div>
	<div class="container">
		<h2>Comments list (User id = @id)</h2>
		<table class="table table-bordered table-striped table-hover">
			<thead>
			<tr>
				<th>Comment Id</th>
				<th>Comment Body</th>
			</tr>
			</thead>
			<tbody>
			@if (Model != null)
			{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Body</td>
					</tr>
				}
			}
			</tbody>
		</table>
	</div>

</div>
<div>
	<a asp-action="Index">Back</a>
</div>