@{
	ViewData["Title"] = "Home Page";
}

<h2>Query list</h2>

<div class="row">

	<div class="col-md-3">
		<h3>Query1</h3>
		<p>Получить количество комментов под постами конкретного пользователя (по айди) (список из пост-количество)</p>
	</div>
	<div class="col-md-3">
		<h3>Query2</h3>
		<p>Получить список комментов под постами конкретного пользователя (по айди), где body коммента меньше 50 символов (список из комментов)</p>
	</div>
	<div class="col-md-3">
		<h3>Query3</h3>
		<p>Получить список (id, name) из списка todos которые выполнены для конкретного пользователя (по айди)</p>
	</div>
	<div class="col-md-3">
		<h3>Query4</h3>
		<p>Получить список пользователей по алфавиту (по возрастанию) с отсортированными todo items по длине name (по убыванию)</p>
	</div>
	<div class="col-md-6">
		<h3>Query5</h3>
		<p>Получить следующую структуру (передать Id пользователя в параметры)</p>
		<ul>
			<li>User</li>
			<li>Последний пост пользователя (по дате)</li>
			<li>Количество комментов под последним постом</li>
			<li>Количество невыполненных тасков для пользователя</li>
			<li>Самый популярный пост пользователя (там где больше всего комментов с длиной текста больше 80 символов)</li>
			<li>Самый популярный пост пользователя (там где больше всего лайков)</li>
		</ul>
	</div>
	<div class="col-md-6">
		<h3>Query6</h3>
		<p>Получить следующую структуру (передать Id поста в параметры)</p>
			<ul>
				<li>Пост</li>
				<li>Самый длинный коммент поста</li>
				<li>Самый залайканный коммент поста</li>
				<li>Количество комментов под постом где или 0 лайков или длина текста меньше 80</li>
	</ul>
	</div>

</div>
