@{
	var count=ViewBag.Count;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Query3", FormMethod.Post,
	new { enctype = "multipart/form-data" }))
{
	@Html.ValidationSummary(true)
	<fieldset>
		<div class="form-group col-md-2">
			<label for="sel1">Select user id:</label>
			<div>
				<select class="form-control" id="id" name="id">
					@foreach (var id in Enumerable.Range(1, count))
					{
						<option>@id</option>
					}

				</select>
				<br>
				<input type="submit" value="Submit" />
			</div>
			
		</div>
		@*<input type="text" id="id" name="id" required
			placeholder="Enter user id" />*@
		
	</fieldset>
}