@model IEnumerable<Task2.Models.Todo>

@{
	ViewData["Title"] = "QueryView";
	var id = ViewBag.Id;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h2>Query3</h2>
	<hr />
	<dl class="dl-horizontal"></dl>
</div>

<div>
	<div class="container">
		<h2>Comments list (User id=@id)</h2>
		<p>The .table-bordered class adds borders to a table:</p>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Todo Id</th>
					<th>Todo Name</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Count() != 0)
				{
					foreach (var item in Model)
					{
						<tr>
							<td>@item.Id</td>
							@if (@item != null)
							{
								<td>@Html.ActionLink(@item.Name, "ShowTodo/" + @item.Id, "ShowTodo", null, new { target = "_blank" })</td>
							}
							else
							{
								<td></td>
							}

						</tr>
					}
				}
			</tbody>
		</table>
	</div>

</div>

<div>
	<a asp-action="Index">Back</a>
</div>