@model Task2.Models.Query6Model

@{

	var id = ViewBag.id;
	ViewData["Title"] = "QueryView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
<h2>Query5</h2>
<hr />
<dl class="dl-horizontal"></dl>
</div>

<div>
	<div class="container">
		<h2>User's(id=@id) Post Info </h2>
		<table class="table table-bordered table-striped table-hover">

			<tr>
				<td>Post Title</td>
				@if (Model.Post != null)
				{
					<td>@Html.ActionLink(Model.Post.Title, "ShowPost/" + Model.Post.Id, "ShowPost", null, new { target = "_blank" })</td>
				}
				else
				{
					<td></td>
				}
			</tr>
			<tr>
				<td>Longest Post's Comment</td>
				<td>@Html.DisplayFor(model => model.LongestComment.Body)</td>
			</tr>
			<tr>
				<td>Likest Post's Comment</td>
				<td>@Html.DisplayFor(model => model.LikestComment.Body)</td>
			</tr>
			<tr>
				<td>Post's Likes Count</td>
				<td>@Html.DisplayFor(model => model.LikesCount)</td>
			</tr>

		</table>
	</div>

</div>

<h2>QueryView</h2>


<div>
	<a asp-action="Index">Back</a>
</div>
