@model Task2.Models.Query4Model

@{
	ViewData["Title"] = "QueryView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h2>Query4</h2>
	<hr />
	<dl class="dl-horizontal"></dl>
</div>

<div>
	<div class="container">
		<h2>Users Todo list</h2>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>User Name</th>
					<th>Todo Name</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null)
				{
					foreach (var item in Model.TodoList)
					{
						<tr>

							@if (item.Item1 != null)
							{
								<td>@Html.ActionLink(item.Item1.Name, "ShowUser/" + item.Item1.Id, "ShowUser", null, new { target = "_blank" })</td>
							}
							else
							{
								<td></td>
							}

							<td>
								<ul>
									@foreach (var todo in item.Item2)
									{
										
											if (todo != null)
											{
									<li>
										@Html.ActionLink(todo.Name, "ShowTodo/" + todo.Id, "ShowTodo", null, new { target = "_blank" }) </li>
}
											else
											{

											}
											
										}
									</ul>
									</td>

								</tr>
							}

						}

			</tbody>
		</table>
	</div>

</div>

